In [1]:
import pandas as pd
import numpy as np

In [2]:
# Reading the data

In [4]:
df = pd.read_excel('Hamoye FoodBalanceSheets_E_Africa_NOFLAG.xlsx', encoding = 'latin-1' )

Showing the first five data as head and the last five data of the dataset as tail

In [42]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [6]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

calculating the null values for each column

In [8]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [9]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

QUESTION: Which year had the least correlation with ‘Element Code’?

In [10]:
relevant_columns = ['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
data_subset = df[relevant_columns]

# Calculating correlation coefficients of the element code with the years
correlations = data_subset.corr()['Element Code']

# Finding the year with the least correlation
least_correlated_year = correlations[correlations.abs() == correlations.abs().min()]

print(" The Year with the least correlation with 'Element Code':" )
print(least_correlated_year)

 The Year with the least correlation with 'Element Code':
Y2016    0.023444
Name: Element Code, dtype: float64

QUESTION: What is the total Protein supply quantity in Madagascar in 2015?

In [43]:
madagascar_df = df[df['Area'] == 'Madagascar']

madagascar_2015_df = madagascar_df[madagascar_df['Y2015'] != 0]

protein_supply_df = madagascar_2015_df[madagascar_2015_df['Element'] == 'Protein supply quantity (g/capita/day)']

# Sum up the values in the 'Y2015' column to get the total Protein supply quantity in Madagascar in 2015
total_protein_supply_madagascar_2015 =round(protein_supply_df['Y2015'].sum(),2)

print("Total Protein supply quantity in Madagascar in 2015 is:", total_protein_supply_madagascar_2015)

Total Protein supply quantity in Madagascar in 2015 is: 173.05

QUESTION: Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [12]:
selected_df = df[['Y2017', 'Area']]

sums_2017 = selected_df.groupby('Area')['Y2017'].sum().reset_index()

# Sorting the sums in ascending order
sorted_sums_2017 = sums_2017.sort_values(by='Y2017')

# Finding the area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_sums_2017.iloc[6]['Area']

print("The area with the 7th lowest sum in 2017 is:", seventh_lowest_area)

The area with the 7th lowest sum in 2017 is: Guinea-Bissau

QUESTION: Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [40]:
# Groupby operation on 'Element' and summing the values for each element
element_sum = df.groupby('Element')['Y2017'].sum()

# Extracting the sum of 'Processing' from the grouped data
processing_sum_2017 = element_sum.get('Processing', 0)  # Get the sum of 'Processing' or 0 if it's not found

print("The total sum of Processing in 2017 is:", processing_sum_2017)

The total sum of Processing in 2017 is: 292836.0

QUESTION: What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [41]:
# Calculating the total number of missing values in 2014
missing_values_2014 = df['Y2014'].isnull().sum()

# Calculating the total number of rows
total_rows = len(df)

# Calculating the percentage of missing data in 2014
percentage_missing_2014 = (missing_values_2014 / total_rows) * 100

# Print the results rounded to 3 decimal places
print("Total number of missing data in 2014:", missing_values_2014)
print("Percentage of missing data in 2014:", round(percentage_missing_2014, 3), "%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607 %

QUESTION: What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [15]:
mean_2017 = round(df['Y2017'].mean(),2)

std_dev_2017 = round(df['Y2017'].std(),2)

print('The Mean across the year 2017 is :' ,mean_2017) 
print('The Mean across the year 2017 is :' ,std_dev_2017)

The Mean across the year 2017 is : 140.92
The Mean across the year 2017 is : 1671.86

QUESTION: Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’. Which of these Areas had the highest sum in 2017?

In [16]:
selected_df = df[['Y2017', 'Area']]

sums_2017 = selected_df.groupby('Area')['Y2017'].sum().reset_index()

# Sorting the sums in ascending order
sorted_sums_2017 = sums_2017.sort_values(by='Y2017', ascending=False)

# Finding the area with the 7th lowest sum in 2017
highest_sum_area = sorted_sums_2017.iloc[0]['Area']

print("The area with the highest area sum in 2017 is:", highest_sum_area)

The area with the highest area sum in 2017 is: Nigeria

In [ ]:
QUESTION: Perform a groupby operation on ‘Element’. What year has the highest sum of Stock Variation?

In [24]:
element_year_sum = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

stock_variation_sum_per_year = element_year_sum.loc['Stock Variation']

# Finding the year with the highest sum of 'Stock Variation'
max_stock_variation_year = stock_variation_sum_per_year.idxmax()

print("The year with the highest sum of Stock Variation is:", max_stock_variation_year)

The year with the highest sum of Stock Variation is: Y2014

QUESTION: Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

In [38]:

wine_production_2015 = df[(df['Item'] == 'Wine')][['Item', 'Y2015']]
wine_production_2018 = df[(df['Item'] == 'Wine')][['Item', 'Y2018']]

total_wine_production_2015 = round(wine_production_2015['Y2015'].sum(),2)
total_wine_production_2018 = round(wine_production_2018['Y2018'].sum(),2)


print("Total wine production for 2015:", total_wine_production_2015)
print("Total wine production for 2018:", total_wine_production_2018)

Total wine production for 2015: 4251.81
Total wine production for 2018: 4039.32

QUESTION: What is the total number of unique countries in the dataset?

In [39]:
total_unique_countries = df['Area'].nunique()
print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49